<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.core.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.reveal.js'></script>
	<link rel="stylesheet" type="text/css" href="/assets/foundation-icons/foundation-icons.css">
	<script src='localhost:8080/mainjs'></script>
	<link th:href='@{/assets/css/main.css}' type="text/css" rel="stylesheet">
</head>

<style>
	.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
		padding: 20px;
		height: 40px;
		font-size: 16px;
		text-align: center;
		background: #7161EF;
		border-radius:0px;
	}

</style>

<body>
<div class='main_wrapper'>

	<!-- TOP NAV BAR -->
	<div class='top_nav_wrapper'>
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name button success small" style='position:relative; margin-right:20px; text-align:left; top:-20px; height: 400px; font-size:20px; padding:20px;'>
					<a href="/index.html">OVERDRIVE<br/> COMICS</a>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<!--<li style='position:relative; left:-25px; background-color:white; color:black; border: 1px solid #b4b4b4; color: #838383;' onclick='window.location.href="/profile.html"' class="publish active button small">--> 						<!--<i class='fi-torso'></i>&nbsp; Profile</li>-->
					<li style='position:relative; left:-20px;' onclick='window.location.href="/create.html"' class="publish active button small">Create</li>
					<li style='background-color:white; color:black; border: 1px solid #b4b4b4; color: #838383;' onclick='go_to_login()' class="button login publish small">Login</li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="http://ec2-18-191-228-30.us-east-2.compute.amazonaws.com:8080/genres">Genres</a></li>
					<li><a href="http://ec2-18-191-228-30.us-east-2.compute.amazonaws.com:8080/popular">Popular</a></li>
					<li><a href="http://ec2-18-191-228-30.us-east-2.compute.amazonaws.com:8080/discover">Discover</a></li>
					<li><a href="http://ec2-18-191-228-30.us-east-2.compute.amazonaws.com:8080/dashboard">Dashboard</a></li>
					<li onclick='expand_search()'><a href="#"><i id='search_icon' class='fi-magnifying-glass'></i></a></li>
					<li id='search_input_box' style='display:none; background: white; margin-left:40px; width:400px;'><input id='search_input' style='padding:0px; position:relative; left:-16px; font-size:16px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none;
 							border-style:none; border-bottom-style:solid;' type='text' placeholder='Search for comics or authors'></li>
				</ul>
			</section>
		</nav>
	</div>

	<div class='comics content' style='padding:40px;'>
		<div class='row'>
			<div class='small-4 columns'>
				<p style='font-size:40px;'>
					artvegas
					<button class='small black radius button'><a href='/settings.html'>Edit Profile</a></button>
				</p>
				<div class='comic_banner'>
				</div>
			</div>
			<div class='small-8 columns' style='position:relative; top:30px'>
				<button class='small success radius button'><span class='user_info'>12 following</span></button>
				<button class='small success radius button'><span class='user_info'>1000 followers</span></button>
				<button class='small success radius button'><span class='user_info'>1M likes</span></button>
				<button class='small success radius button'><span class='user_info'>10 comics</span></button>
				<p style='font-size:16px; position:relative; top:30px'>
					Hey, welcome to my page. I mostly make action and drama comics.
					I love reading comedy comics and I also like making fun comics
					during my free time.
				</p>
			</div>
		</div>
	</div>

	<div class='weekly_nav header' id='genre_nav' style='background-color:white; border-bottom-style:solid; border-width:.6px; border-color:rgb(219, 219, 219); margin-top:0px; margin-left:auto; margin-right:auto; border-top: 1px solid #eaeaea;'>
		<div class='row' style='margin-top:-7px;'>
			<div class='small-12 columns small-offset-3	' style='height:41px'>
				<dl class="sub-nav">
					<dd onclick='select_option_popular(this)' class="pop_btn active"><a href="#following_section">FOLLOWING</a></dd>
					<dd onclick='select_option_popular(this)' class="pop_btn"><a href="#followers_section">FOLLOWERS</a></dd>
					<dd onclick='select_option_popular(this)' class="pop_btn"><a href="#comics_section">COMICS</a></dd>
				</dl>
			</div>
		</div>
	</div>

	<div id='following_section'  class='comics content' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:128px;'>Following</p>
		<div class="row_comic" style='width:80%; position:relative; left:128px;'>
			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>

			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
				</div>
			</div>

		</div>
	</div>

	<div id='followers_section'></div>
	<div class='comics' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:128px;'>Followers</p>
		<div class="row_comic" style='width:80%; position:relative; left:128px;'>
			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>artvegas</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>john12</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>omar_cloud</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>richu_rich</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>nihadh_boi</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				</div>
			</div>
		</div>
	</div>

	<div id='comics_section'></div>
	<div class='comics' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:128px;'>Comics</p>
		<div class="row_comic" style='width:80%; position:relative; left:128px;'>
			<div class="column_comic">
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
					<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
					<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
			<div class="column_comic">
				<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
					<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
					<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div class='top_nav_wrapper'>
		<nav class="top-bar" data-topbar role="navigation">

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li style='position:relative; left:-20px;' onclick='window.location.href="/create.html"' class="publish active button small">Create</li>
					<li style='background-color:white; color:black; border: 1px solid #b4b4b4; color: #838383;' class="button login publish small">Login</li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="/">© SUNLIGHT YELLOW</a></li>
					<li><a style='font-size:12px' href="#">Made with <i class='fi-heart' style='color:blueviolet'></i></a></li>
					<li><a style='font-size:12px' href="#">John Richu Aritra Omar <i class='fi-star'></i></a></li>
				</ul>
			</section>
		</nav>
	</div>
</div>
</body>

<script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {fix_header()};

    // Get the header
    var header = document.getElementById("genre_nav");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function fix_header() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
</html>
